{{extend 'layout.html'}}

<div class="col-md-10 col-md-offset-1">
	<div  style="background-color:rgba(200, 196, 184, 0.7);color:white;padding:20px; border-radius:10px;">

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-2"> <h2>Personas</h2></div>
				<div class="col-md-2 col-md-offset-9">
					<input style="color:black;" list="browsers">
					<datalist id="browsers">
					{{for pers in persona:}}
					  <option value="{{=pers.Nombre}}">
					  {{pass}}
					  
					</datalist>
				</div>
				<div class="col-md-1">
					 <a href="/Knowme/home/index"><button style="padding:4px 10px;" class="glyphicon glyphicon-search"></button></a>
				</div>
			</div>
		</div>	
          
         

	</div>
</div>

<div class="col-md-10 col-md-offset-1">
<br>
	<div  style="background-color:rgba(200, 196, 184, 0.7);color:white;padding:20px; border-radius:10px;">

		<div align="center">
			<img class="img-thumbnail" width="400px" src="{{=URL('download', args=persona[0].image)}}"  alt="">
		</div>
		<div>
			<h1>{{=persona[0].Nombre}}</h1>
		</div>
		<div>
			<h2>Edad: {{=persona[0].Edad}}</h2>
		</div>
		<div>
			<h2>Estudio: {{=persona[0].Estudios}}</h2>
		</div>
		<div>
			<h2>Idioma: {{=persona[0].idioma}}</h2>
		</div>

	</div>
	<br>

</div>

