{{extend 'layout.html'}}

<div class="col-xs-12 col-md-10 col-md-offset-1">
	<div  style="background-color:rgba(200, 196, 184, 0.7);color:white;padding:20px; border-radius:10px;">
	<div class="row">
		<div class="col-md-4">
		<img src="{{=URL('static','images/block1.png')}}" alt="responsive-img">
		</div>
		<div class="col-md-6">
			<br>
			<h2 style="color:#3e3f3a">Expandí tu networking y da a conocer tus skills.</h2>
		</div>
	</div>
	</div>
</div>

<div class="col-xs-12 col-md-10 col-md-offset-1">
<br>
		<div class="row">
			<div class="col-md-4">
				<div style="background-color:rgba(200, 196, 184, 0.7);color:white;padding:20px; border-radius:10px; min-height:200px; margin-right:10px;">
				<div  style="background-color:rgba(200, 196, 184, 0.7);color:white;padding:20px; border-radius:5px;">
				<h3 style="color:#3e3f3a">Encuentra la persona que estas buscando.</h3>
				</div>
				<a href="{{=URL('Persona','index')}}"><button style="width:100%">Personas</button></a>
			</div>
			</div>
			<div class="col-md-4">
				<div style="background-color:rgba(200, 196, 184, 0.7);color:white;padding:20px; margin-right:10px; border-radius:10px; min-height:200px">
				<div  style="background-color:rgba(200, 196, 184, 0.7);color:white;padding:20px; border-radius:5px;">
				<h3 style="color:#3e3f3a">Accede a tus cursos o trabajos.</h3>
				</div>
				<a href="{{=URL('Institucion','index')}}"><button style="width:100%">Instituciones</button></a>
			</div>
			</div>
			<div class="col-md-4" >
				<div  style="background-color:rgba(200, 196, 184, 0.7);color:white;padding:20px; border-radius:10px; min-height:200px">
				<div  style="background-color:rgba(200, 196, 184, 0.7);color:white;padding:20px; border-radius:5px;">
				<h3 style="color:#3e3f3a">Busca o crea los eventos que estabas esperando.</h3>

				</div>
				<button  style="width:100%">Eventos</button>
			</div>
			</div>


		</div>
</div>
