{{extend 'layout.html'}}

<div class="col-xs-12 col-md-10 col-md-offset-1">
	<div style="background-color:rgba(200, 196, 184, 0.7);color:white;padding:20px; border-radius:10px;">
	<div class="row">
		<div class="row">
			<div class="col-md-12">
				<img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100" alt="">
				<span>Descripción, ubicación, tel, etc</span>
				<button style="float: right; margin-top: 30px;"><a href="{{=URL('Institucion', 'verOrg')}}" title="">Ver organización</a></button>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100" alt="">
				<span>Descripción, ubicación, tel, etc</span>
				<button style="float: right; margin-top: 30px;"><a href="{{=URL('Institucion', 'verOrg')}}" title="">Ver organización</a></button>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100" alt="">
				<span>Descripción, ubicación, tel, etc</span>
				<button style="float: right; margin-top: 30px;"><a href="{{=URL('Institucion', 'verOrg')}}" title="">Ver organización</a></button>
			</div>	
		</div>
	</div>
	</div>
</div>