{{extend 'layout.html'}}

<div class="col-xs-12 col-md-10 col-md-offset-1">
	<div style="background-color:rgba(200, 196, 184, 0.7);color:white;padding:20px; border-radius:10px;">
	<div class="row">
		<div class="row">
			<div class="col-md-12">
				<img src="{{=URL('static','images/utn.png')}}" width="100px" height="100px" alt="">
				<span>Universidad tecnologica nacional</span>
				<button style="float: right; margin-top: 30px;"><a href="{{=URL('Institucion', 'verOrg/11')}}" title="">Ver organización</a></button>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<img src="{{=URL('static','images/unne.jpg')}}" width="100px" height="100px" alt="">
				<span>Universidad nacional del nordeste</span>
				<button style="float: right; margin-top: 30px;"><a href="{{=URL('Institucion', 'verOrg/12')}}" title="">Ver organización</a></button>
			</div>
		</div>
		<br>

	</div>
	</div>
</div>